body
  font-family courier
  margin-bottom: 100px
h1
  color #555
  font-size: 14px
ul
  list-style-type none
span
  padding-left 10px
.posFixed
  position fixed
  bottom 0
  background red

.formMessage
  color blue
  font-weight bold
input, label, select
  display block
  margin 10px 5px
